/* Global style reset. */
* {
    margin: 0;
    padding: 0;
    border: solid black 1px;
}
/* Main frame of web app. */
.pageFrame {
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "side main main main"
    "side main main main"
    "side main main main"
    "side main main main";
}

header {
    height: 5em ;
}
nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100svw;
    height: 5em;
    grid-template-areas: 
    "left mid mid .";
}

.heading-div {
    grid-area: left;
}
.form-div {
    grid-area: mid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#term-form > input {
    width: 20em;
}
input::placeholder {
    text-align: center;
}

.sidePanel {
    grid-area: side;
}

.mainPanel {
    grid-area: main;
}