/* Global style reset. */
* {
    margin: 0;
    padding: 0;
    /* border: solid black 1px; */
}

/* Setting color pallet custom props. */
:root {
    --secondary-color-light: #f8efd4;
    --secondary-color-dark: #edc988;
    --primary-color-light: #d7385e;
    --primary-color-dark: #132743;
}
body {
    background-color: var(--secondary-color-light);
}
/* Main frame of web app. */
.pageFrame {
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "side main main main"
    "side main main main"
    "side main main main"
    "side main main main";
}

header {
    height: 5em ;
}
nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100svw;
    height: 5em;
    grid-template-areas: 
    "left mid mid .";
    background-color: var(--primary-color-dark);
    border-radius: 0em 0em 1em 1em;
}

.heading-div {
    grid-area: left;
}
.form-div {
    grid-area: mid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#term-form > input {
    width: 20em;
}
input::placeholder {
    text-align: center;
}

.sidePanel {
    grid-area: side;
}

.mainPanel {
    grid-area: main;
}

.heading {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color-light);
}
.sub-text {
    padding: 0.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    font-weight: 100;
    color: var(--secondary-color-light);
    text-align: center;
}